.text-container {
  display: flex;
  position: relative;
}
.text-text {
  top: 0px;
  left: 0px;
  color: rgb(47, 128, 237);
  right: 0px;
  bottom: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Raleway;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  letter-spacing: 2px;
  text-decoration: none;
}
.text-text1 {
  top: 0px;
  color: rgb(47, 128, 237);
  right: -129px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Raleway;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  letter-spacing: 2px;
  text-decoration: none;
}
.text-text2 {
  top: 0px;
  left: 140px;
  color: rgb(47, 128, 237);
  right: 0px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Raleway;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  letter-spacing: 2px;
  text-decoration: none;
}
.text-text3 {
  top: 0px;
  left: 180px;
  color: rgb(47, 128, 237);
  right: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Raleway;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  letter-spacing: 2px;
  text-decoration: none;
}
.text-root-class-name {
  top: 54px;
  right: 683px;
  position: absolute;
}
